/****************
* Basic Styling *
*****************/
html, body {
    background-color: rgb(214, 129, 49);
    
    font-family: Verdana, Geneva, sans-serif;
    
    margin: 0;
    
    height: 100%;
    height: 100vh;
    overflow: auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

/* Title Bar */
.title-container {
    text-align: center;
    /* color: rgb(138, 112, 252); */
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    color: rgb(209, 209, 209);

    padding: 30px 0 0 0;
    border-bottom: rgb(209, 209, 209) 2px solid;
    margin: 0 60px 0 60px;
}

.title-container > h1 {
    margin: 16px auto;
}

.title-container > img {
    width: 35px;
}

.timer-container {
    text-align: center;

    /* ONLY USE WHEN NO TIMER NECESSARY (obviously) *
    display: none; */
}

/* Timer */
.timer {
    font-size: 30px;
}

/* Main */
main {
    background-image: url(../img/des_bg_dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 

/***********
* Grid CSS *
************/
.page-container {
    display: grid;
}

/******************
* Image container *
*******************/
.img-container {
    display: grid;
    grid-gap: 12px;
    grid-auto-flow: row dense;
    
    grid-template-columns: 1fr;

    width: 65%;
    
    
    margin: 40px auto;
}

/* Going unused for now, saved for potential use in the future *
.album-link {
    
} */
/* May be used for bigger grids *
.big {
    grid-row: span 2;
    grid-column: span 2;
}
*/

.album-link:hover {
    border: rgba(248, 103, 50, 0.568) 6px solid;
}

.image {
    width: 100%;
    height: 100%;

    /* width: 350px;
    height: 350px; */
    object-fit: cover;
}

/**********************************
* Contains Bio and Links to Music * 
***********************************/
.bio-links-container {
    font-family: Garamond, Verdana, Geneva, sans-serif;;
    padding: 0 9% 30px 18%;
    margin-top: 30px;

    height: 100%;

    background-color: rgb(206, 206, 206);
    color: black;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Bio */
.bio-title {
    margin-top: 30px;

    text-align: center;
    align-self: center;
    
    order: 1;
}

.bio-text {
    margin: 0 5%;

    font-size: 18px;
    text-align: center;
    
    align-self: center;
    
    order: 3;
}

/* Links to Artist Pages */
.links-title {
    margin-top: 30px;

    text-align: center;
    align-self: center;

    order: 2;
}

.music-links-container {
    text-align: center;
    margin: 0 auto;

    order: 4;

    display: grid;
    align-items: center;
}

.link, .icon {
    border: black solid 2px;
    
    margin-bottom: 4px;
}

.link {
    grid-column-start: 2;
    padding: 9.5px;
}

.icon {
    padding: 4px;
    width: 30px;
    height: 30px;
    margin-right: 4px;

    grid-column-start: 1;
}

.link-icon {
    padding-top: 2.6px;
}

/* Icon Attribution div */
.icon-attribution {
    text-align: center;
    font-size: small;

    background-color: rgb(206, 206, 206);
    color: black;
}

/****************
* Media Queries *
*****************/


@media all and (max-width: 700px) {
    .bio-links-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        text-align: center;
        
        margin-top: 50px;
        padding: 0 0 30px 0;
    }

    .name {
        font-size: 48px;
    }

    .timer-title {
        font-size: 36px;
    }

    .bio-title {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .bio-text {
        margin: 0 12%;
        font-size: 36px;
    }

    .links-title {
        margin-top: 30px;
        padding: 0;

        font-size: 30px;

        order: 3;
    }

    .link {
        font-size: 30px;
    }

    .icon {
        width: 47px;
        height: 47px;
    }

}


@media all and (min-width: 700px) { 
    .img-container {
        display: grid;
        grid-gap: 12px;
        grid-auto-flow: row dense;

        grid-template-columns: 1fr;

        width: 65%;

        margin: 40px auto;
    }
}
